<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Data</title>
</head>
<body>
    <form action="/submit" method="POST">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" title="Enter your name" placeholder="Your Name" />
        </p>
        <p>
            <label for="contact">Contact:</label>
            <input type="text" id="contact" name="contact" title="Enter your contact" placeholder="Your Contact" />
        </p>
        <p>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" title="Enter your location" placeholder="Your Location" />
        </p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>
